.list-itemed {
    cursor: pointer;
    /* color:; */
    border-radius: 10px;
    padding: 0.5rem 8px;
    background: white;
    /* padding-bottom: 0.5rem8px; */
    /* padding: 0; */
}

.list-itemed.active {
    /* background: yellow; */
    color: white;
    --tw-bg-opacity: 1;
    background-color: rgb(229 27 72 / var(--tw-bg-opacity));
}

.icon:hover {
    fill: white;
  }